.navbar-text {
  text-align: center;
}
.navbar-brand {
  background-color: #4aaaaf;
  font-weight: bold;
  font-size:16px;
}

h3 {
  font-weight: bold;  
}

.panel-default {
  margin-bottom:20px;
}

.footer-section {
  text-align: center;
}

.message.form-control {
  min-height:400px;
}

.form-group-container {
  width:100%;
}

.image-body img {
  margin:10px auto 10px auto;
}